.cart {
    width: max(360px, 100%);
    display: grid;
    margin: 0 auto;
}

.container {
    width: min(90%, 800px);
    margin: 0 auto;
    overflow: hidden;
}


.cartContainer {
    width: 100%;
    background-color: var(--color-secondary);
    display: grid;
    border-radius: 8px;
    padding: 1.5rem 1rem;
    margin-bottom: 1rem;
}

.cartContainer ul {
    list-style: none;
}

.cartItem p {
    font-weight: 700;
}


.cartItem {
    font-size: .7rem;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr .7fr .7fr 1fr 1fr .5fr;
}

.cartItem:last-of-type {
    padding-bottom: 1rem;
}

.deleteCartItem {
    cursor: pointer;
}

.totalRow {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    border-top: solid 0.2px var(--color-primary);
    padding-top: 1rem;
}

.totalRow>span {
    font-weight: 600;
}

@media (width >=769px) {
    .cart{
        padding-top: 64px;
    }
    .cartContainer ul {
        width: min(600px, 100%);
        padding: 1rem 0;
        margin: auto;
    }

    .totalRow {
        flex-direction: row;
    }
}