.cart {
    width: max(360px, 100%);
    display: grid;
    margin: 0 auto;
}

.container {
    width: min(90%, 800px);
    margin: 0 auto;
    overflow: hidden;
}


.cartContainer {
    width: 100%;
    background-color: var(--color-secondary);
    display: grid;
    border-radius: 8px;
    padding: 1.5rem 1rem;
    margin-bottom: 1rem;
}

.cartContainer ul {
    list-style: none;
}

.cartItem p {
    font-weight: 700;
}


.cartItem {
    font-size: .7rem;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr .7fr .7fr 1fr 1fr;
}

.cartItem:last-of-type {
    padding-bottom: 1rem;
}