.cardContainer{
    width: max(360px, 100%);
    padding: 4rem 1.5rem;
    margin: 0 auto ;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;    
    justify-content: space-evenly;
}


@media (min-width: 768px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .cardContainer {
    width: min(850px, 80vw);
    grid-template-columns: 1fr 1fr 1fr;
  }
}