.checkoutContainer {
    width: max(360px, 100%);
    padding: 4rem 1.5rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-content: space-evenly;
}

.title {
    color: var(--color-primary)
}

.summary {
    margin-block: 1rem;
}

@media (width >=600px) {
    .checkoutContainer {
        width: min(720px, 100%);
    }

    .gridContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .userData {
        margin-right: 2rem;
    }

    .summary {
    margin-block: 0;
    margin-bottom: 2rem;
}

}