.header {
    width: max(340px, 100%);
    box-shadow: 1px 3px 5px rgb(0, 0, 0, 0.09);
    background-color: var(--color-background);
    height: 100px;
}

.container {
    width: min(90%, 1200px);
    margin: 0 auto;
    overflow-x: hidden;
}

/** Hero **/

.hero {
    --nav-icon-background: url("/menu-open.svg");
    --transform-list-menu: translate(-100%);
}

.hero:has(.nav__checkbox:checked) {
    --nav-icon-background: url("/menu-close.svg");
    --transform-list-menu: translate(0);
}

.nav__logo {
    height: 85px;
    margin: auto 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.nav__label,
.nav__logoLink {
    z-index: 100;
}

.nav__logoLink {
    width: min(150px, 90%);
}


.nav__label {
    width: 30px;
    height: 30px;
    background-image: var(--nav-icon-background);
    background-size: cover;
    cursor: pointer;
    transition: .4s background-image;
}

.nav__checkbox {
    display: none;
}

.nav__list {
    position: absolute;
    inset: 0;

    padding: 0;
    display: grid;
    place-content: center;
    gap: 1rem;

    text-align: center;
    list-style: none;
    background-color: var(--color-secondary);

    transform: var(--transform-list-menu);
    transition: transform .5s;
}


.nav__link {
    display: inline-block;
    width: max-content;
    position: relative;
    padding: .8rem .5rem;
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 600;
}

.nav__link:hover {
    color: #fff;
    transition: .3s background-color, .3s color;
}

.nav__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, var(--color-primary) 50%);
    border-radius: 0 0 10px 10px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: top;
}

.nav__link:hover::after {
    transform: scaleX(1);
}

.nav_icon {
    display: inline-block;
    font-size: 1.2rem;
    color: var(--color-primary);
    cursor: pointer;
    padding-top: 8.5px;
}

.dropdown {
    position: fixed;
    background: white;
    border-radius: 6px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .2);
    z-index: 9999;
    padding: 8px 16px;
    width: 140px;
    text-align: right;
}

.dropdown p {
   font-weight: 600;
   padding-bottom: 0.3rem;
}
.dropdown span {
    font-size: x-small;
   font-weight: 300;
}

.dropdown button {
    padding-block: 5px ;
    width: 100%;
    text-align: right;
    background: none;
    border: none;
    cursor: pointer;
}

.logout {
    padding: '8px 12px';
    cursor: 'pointer';
    transition: 'background 0.2s';
}

@media (width >=900px) {

    /** Hero **/

    .hero {
        --transform-list-menu: translate(0%);
    }

    .nav__label {
        display: none;
        cursor: pointer;
    }

    .nav__list {
        position: static;
        background-color: var(--color-background);
        color: var(--color-primary);
        grid-auto-flow: column;
        place-content: unset;
        gap: 1rem;
    }

    .nav__link {
        color: var(--color-primary);
        ;
    }

    .nav__link:hover {
        color: var(--color-secondary);
        transition: .3s background-color, .3s color;
    }

}