.categoryFilters, .clearFilters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    gap: .5rem;
    margin-bottom: 15px;
    grid-column: 1 / -1;
}

.paginationControls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    grid-column: 1 / -1;
}

@media (min-width: 768px) {
    .categoryFilters{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    
}