.formCreate{
    display: grid;
    background-color: white;
    gap: 15px;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formCreate input, .formCreate select, .formCreate textarea, .presentations>input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    margin: auto;
}


.presentations {
    display: flex;
    flex-direction: column;
    gap: 10px;
margin-block: 2rem;
}

.presentationItem{
    display: grid;
    gap: 10px;
}

.presentations button {
    margin-top: 5px;
    padding: 0.5rem;
    width: fit-content;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    background-color: transparent;
    align-self: flex-end;
}

.formCreate label {
    font-weight: 600;
}

.errors {
    color: red;
    font-size: 0.9rem;
    margin-top: -10px;
    margin-bottom: 10px;
}

.submitWrapper {
  display: flex;
  justify-content: space-between;
  margin-block: 1rem;
  gap: 10px;
}


@media (min-width: 768px) {
    .formCreate {
        width: 500px;
        margin: 1rem auto;
    }
}