.footer {
    width: 100%;
    height: max(180px, 20vh);
    background-color: var(--color-primary);
    margin-top: 3rem;
    padding: 2rem 0;
}

.container {
    width: min(90%, 1200px);
    margin: 0 auto;
    overflow: hidden;
    display: grid;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-secondary);
    text-align: center;
    gap: .5rem;
}

.contact a {
    text-decoration: none;
    color: var(--color-secondary);
}

@media (width > 768px) {
    .contact {
        align-items: flex-start;
        text-align: center;
        gap: .5rem;
    }
}