.container{
    display: grid;
    grid-template-columns: auto;
}

.h1Category{
    grid: 1/2;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {

    .h1Category{
        grid-column: 1/3;
    }
}

@media screen and (width >= 1024px) {

    .container{
        width: min(90%, 1200px);
        margin: auto;
    }
 
    .mainContent{
        grid-column: 1/2;
        
    }
    .sidebar{
        grid-column: 2/3;
    }

    .h1Category{
        grid-column: 1/4;
    }
}