.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 2rem;
  width: 340px;
  border-radius: 10px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 12px;
  border: none;
  background: none;
  font-size: 1rem;
  cursor: pointer;
}

.modal h2 {
  margin-bottom: .5rem;
  text-align: center;
}

.modal p{
    text-align: center;
    padding-bottom: 1rem;
    font-size: 0.9rem;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.modal input {
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.modal input:focus {
  border: none
}


