.button{
    width: min(280px, 100%);
    height: 35px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
}

/* Variante principal */
.primary {
    background-color: white;
    color: var(--color-primary);
   
}

.primary:hover {
    background-color: var(--color-secondary);
}

/* Variante secundaria */
.secondary {
  background-color: var(--color-background);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  margin-top: .5rem;
}

.secondary:hover {
  background-color: var(--color-primary);
  color: white ;
  border: none;
}

/* Variante fill */
.fill {
  background-color: var(--color-primary);
  color: white;
   margin-top: .5rem;
}

.fill:hover {
  background-color: var(--color-secondary);
}

/* Variante simple */
.simple {
  width: min(100px, 100%);
  background-color: transparent;
  color: var(--color-primary);
   margin-top: .5rem;
}

.simple:hover {
  border: 1px solid var(--color-primary);
}